<app-top-menu></app-top-menu>
<div class="row mt-5">
  <div class="col-md-12 mb-5">

    <img src="./assets/img/pic-dolati/g2g%20(2).png">

    <div class=" text-center">

                <span class="card-text card-title" >خدمات قابل ارائه به
                    دستگاههای اجرایی
                    </span>
      <span class="card-text card-title g2-englishtitle" >G2G</span>
    </div>
  </div>
</div>



<div class="row mb-3">

  <div class="col-md-3 col-sm-6 my-3">
    <!-- Card -->
    <div class="card h-100 nap-card" [routerLink]="['/details',21]" routerLinkActive="active">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top justify-content-center" src="./assets/img/pic-dolati/hesab2.png"  ><a>
        <div class="mask  rgba-black-slight"></div>
      </a>
      </div>

      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        <h4 class="card-title">{{onvan[15]}}</h4>
      </div>

      <div class="card-footer text-primary  grey lighten-2 " >
        شناسه خدمت:{{processCode[15]}}
      </div>

    </div>
    <!-- Card -->
  </div>



  <div class="col-md-3 col-sm-6 my-3">
    <!-- Card -->
    <div class="card h-100 nap-card" [routerLink]="['/details',7]" routerLinkActive="active">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top justify-content-center" src="./assets/img/pic-dolati/rasad22.png"  ><a>
        <div class="mask  rgba-black-slight"></div>
      </a>
      </div>


      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        <h4 class="card-title">{{onvan[2]}}</h4>
      </div>

      <div class="card-footer text-primary  grey lighten-2 " >
        شناسه خدمت:{{processCode[2]}}
      </div>

    </div>
    <!-- Card -->
  </div>


  <div class="col-md-3 col-sm-6 my-3">
    <!-- Card -->
    <div class="card h-100 nap-card" [routerLink]="['/details',8]" routerLinkActive="active">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top justify-content-center" src="./assets/img/pic-dolati/barnameh2.png" >
        <a>
          <div class="mask  rgba-black-slight"></div>
        </a>
      </div>


      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        <h4 class="card-title">{{onvan[3]}}</h4>
      </div>

      <div class="card-footer text-primary  grey lighten-2 " >
        شناسه خدمت:{{processCode[3]}}
      </div>

    </div>
    <!-- Card -->
  </div>


  <div class="col-md-3 col-sm-6 my-3">
    <!-- Card -->
    <div class="card h-100 nap-card" [routerLink]="['/details',16]" routerLinkActive="active">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top justify-content-center" src="./assets/img/pic-dolati/rasad22.png">
        <a>
          <div class="mask  rgba-black-slight"></div>
        </a>
      </div>

      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        <h4 class="card-title">{{onvan[11]}}</h4>
      </div>

      <div class="card-footer text-primary  grey lighten-2">
        شناسه خدمت:{{processCode[11]}}
      </div>
    </div>
    <!-- Card -->
  </div>






  <div class="col-md-3 col-sm-6 my-3">
    <!-- Card -->
    <div class="card h-100 nap-card" [routerLink]="['/details',22]" routerLinkActive="active">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top justify-content-center" src="./assets/img/pic-dolati/bargozari2.png" ><a>
        <div class="mask  rgba-black-slight"></div>
      </a>
      </div>


      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        <h4 class="card-title">{{onvan[16]}}</h4>
      </div>

      <div class="card-footer text-primary  grey lighten-2">
        شناسه خدمت:{{processCode[16]}}
      </div>
    </div>
    <!-- Card -->
  </div>


  <div class="col-md-3 col-sm-6 my-3">
    <!-- Card -->
    <div class="card h-100 nap-card" [routerLink]="['/details',10]" routerLinkActive="active">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top justify-content-center" src="./assets/img/pic-dolati/tozehetebar2.png"  ><a>
        <div class="mask  rgba-black-slight"></div>
      </a>
      </div>

      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        <h4 class="card-title">{{onvan[5]}}</h4>
      </div>

      <div class="card-footer text-primary  grey lighten-2">
        شناسه خدمت:{{processCode[5]}}
      </div>
    </div>
    <!-- Card -->
  </div>


  <div class="col-md-3 col-sm-6 my-3">
    <!-- Card -->
    <div class="card h-100 nap-card" [routerLink]="['/details',11]" routerLinkActive="active">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top justify-content-center" src="./assets/img/pic-dolati/nezartdastgah2.png"  ><a>
        <div class="mask  rgba-black-slight"></div>
      </a>
      </div>

      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        <h4 class="card-title">{{onvan[6]}}</h4>
      </div>

      <div class="card-footer text-primary  grey lighten-2 " >
        شناسه خدمت:{{processCode[6]}}
      </div>
    </div>
    <!-- Card -->
  </div>


  <div class="col-md-3 col-sm-6 my-3">
    <!-- Card -->
    <div class="card h-100 nap-card" [routerLink]="['/details',12]" routerLinkActive="active">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top justify-content-center" src="./assets/img/pic-dolati/nezarahtarha2.png"  ><a>
        <div class="mask  rgba-black-slight"></div>
      </a>
      </div>

      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        <h4 class="card-title">{{onvan[7]}}</h4>
      </div>

      <div class="card-footer text-primary  grey lighten-2 " >
        شناسه خدمت:{{processCode[7]}}
      </div>

    </div>
    <!-- Card -->
  </div>





  <div class="col-md-3 col-sm-6 my-3">
    <!-- Card -->
    <div class="card" [routerLink]="['/details',13]" routerLinkActive="active">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top justify-content-center" src="./assets/img/pic-dolati/gozareshsalaneh22.png"  ><a>
        <div class="mask  rgba-black-slight"></div>
      </a>
      </div>

      <!-- Social buttons -->
      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        <h4 class="card-title">{{onvan[8]}}</h4>
      </div>

      <div class="card-footer text-primary  grey lighten-2 " >
        شناسه خدمت:{{processCode[8]}}
      </div>

    </div>
    <!-- Card -->
  </div>


  <div class="col-md-3 col-sm-6 my-3">
    <!-- Card -->
    <div class="card h-100 nap-card" [routerLink]="['/details',14]" routerLinkActive="active">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top justify-content-center" src="./assets/img/pic-dolati/mosharekto2.png"  ><a>
        <div class="mask  rgba-black-slight"></div>
      </a>
      </div>



      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <h4 class="card-title">{{onvan[9]}}</h4>
      </div>
      <div class="card-footer text-primary  grey lighten-2">
        شناسه خدمت:{{processCode[9]}}
      </div>
    </div>
    <!-- Card -->
  </div>
  <div class="col-md-3 col-sm-6 my-3">
    <!-- Card -->
    <div class="card h-100 nap-card" [routerLink]="['/details',15]" routerLinkActive="active">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top justify-content-center" src="./assets/img/pic-dolati/paiesh2.png"  ><a>
        <div class="mask  rgba-black-slight"></div>
      </a>
      </div>


      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        <h4 class="card-title">{{onvan[10]}}</h4>
      </div>

      <div class="card-footer text-primary  grey lighten-2">
        شناسه خدمت:{{processCode[10]}}
      </div>

    </div>
    <!-- Card -->
  </div>


  <div class="col-md-3 col-sm-6 my-3">
    <!-- Card -->
    <div class="card h-100 nap-card"[routerLink]="['/details',17]" routerLinkActive="active">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top justify-content-center" src="./assets/img/pic-dolati/taminamar2.png"  ><a>
        <div class="mask  rgba-black-slight"></div>
      </a>
      </div>

      <!-- Social buttons -->
      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <h4 class="card-title">{{onvan[12]}}</h4>
        <!-- Text -->
      </div>

      <div class="card-footer text-primary  grey lighten-2">
        شناسه خدمت:{{processCode[12]}}
      </div>
    </div>
    <!-- Card -->
  </div>






  <div class="col-md-3 col-sm-6 my-3">
    <!-- Card -->
    <div class="card h-100 nap-card" [routerLink]="['/details',19]" routerLinkActive="active">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top justify-content-center" src="./assets/img/pic-dolati/taminamar2.png"  ><a>
        <div class="mask  rgba-black-slight"></div>
      </a>
      </div>



      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <h4 class="card-title">{{onvan[13]}}</h4>
        <!-- Text -->
      </div>
      <div class="card-footer text-primary  grey lighten-2">
        شناسه خدمت:{{processCode[13]}}
      </div>
    </div>
    <!-- Card -->
  </div>
  <div class="col-md-3 col-sm-6 my-3">
    <!-- Card -->
    <div class="card h-100 nap-card" [routerLink]="['/details',2]" routerLinkActive="active">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top justify-content-center" src="./assets/img/pic-dolati/arziabi2.png"  ><a>
        <div class="mask  rgba-black-slight"></div>
      </a>
      </div>

      <!-- Social buttons -->
      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <h4 class="card-title">{{onvan[0]}}</h4>
        <!-- Text -->
      </div>
      <div class="card-footer text-primary  grey lighten-2">
        شناسه خدمت:{{processCode[0]}}
      </div>


    </div>
    <!-- Card -->
  </div>
  <div class="col-md-3 col-sm-6 my-3">
    <!-- Card -->
    <div class="card h-100 nap-card" [routerLink]="['/details',4]" routerLinkActive="active">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top justify-content-center" src="./assets/img/pic-dolati/nezarat2.png"  ><a>
        <div class="mask  rgba-black-slight"></div>
      </a>
      </div>



      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <h4 class="card-title">{{onvan[1]}}</h4>
        <!-- Text -->
      </div>

      <div class="card-footer text-primary  grey lighten-2">
        شناسه خدمت:{{processCode[1]}}
      </div>
    </div>
    <!-- Card -->
  </div>
  <div class="col-md-3 col-sm-6 my-3">
    <!-- Card -->
    <div class="card" [routerLink]="['/details',9]" routerLinkActive="active">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top justify-content-center" src="./assets/img/pic-dolati/taminetebar.png"  ><a>
        <div class="mask  rgba-black-slight"></div>
      </a>
      </div>

      <!-- Social buttons -->
      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <h4 class="card-title">{{onvan[4]}}</h4>
        <!-- Text -->
      </div>
      <div class="card-footer text-primary  grey lighten-2">
        شناسه خدمت:{{processCode[4]}}
      </div>
    </div>
    <!-- Card -->
  </div>



  <div class="col-md-3 col-sm-6 my-3">
    <!-- Card -->
    <div class="card" [routerLink]="['/details',20]" routerLinkActive="active">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top justify-content-center" src="./assets/img/pic-dolati/makani2.png"  ><a>
        <div class="mask  rgba-black-slight"></div>
      </a>
      </div>



      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <h4 class="card-title">{{onvan[14]}}</h4>
        <!-- Text -->
      </div>

      <div class="card-footer text-primary  grey lighten-2">
        شناسه خدمت:{{processCode[14]}}
      </div>
    </div>
    <!-- Card -->
  </div>


</div>


