<div class="container ras-border">
    <app-top-menu></app-top-menu>
    <app-header></app-header>
    <app-mainbody></app-mainbody>
    <app-mainbody2></app-mainbody2>
   <div class="row">
     <div class="col-md-12">

       <router-outlet></router-outlet>

     </div>


   </div>
     <br>
     <div class="row">

         </div>
     <!-- Footer -->
     <footer class="page-footer font-small primary-color-dark pt-4">

         <!-- Footer Links -->
         <div class="container-fluid text-center text-md-left">

             <!-- Grid row -->
             <div class="row">

                 <!-- Grid column -->
                 <div class="col-md-6 mt-md-0 mt-3">

                     <!-- Content -->
                     <h5 class="text-uppercase">میز خدمات الکترونیکی استان لرستان</h5>
                        <hr>
                     <ul class="list-unstyled ">
                         <li>
                             <a [routerLink]="'/g2c'">خدمات قابل ارائه به
                                 شهروندان(مردم)/کسب و کار(بخش خصوصی)
                                 G2B / G2C</a>
                         </li>
                         <li>
                             <a [routerLink]="'/g2g'">خدمات قابل ارائه به
                                 دستگاههای اجرایی
                                 G2G</a>
                         </li>
                         <li >
                             <a [routerLink]="'/mizkhadamat'">مشاوره خدمت</a>
                         </li>
                         <li>
                             <a [routerLink]="'/nazarsanji'">نظرسنجی خدمات</a>
                         </li>
                         <li>
                             <a [routerLink]="'/shekait'">شکایات، انتقادات و پیشنهادات</a>
                         </li>
                     </ul>
                 </div>
                 <!-- Grid column -->

                 <hr>

                 <!-- Grid column -->
                 <div class="col-md-3 mb-md-0 mb-3">

                     <!-- Links -->
                     <h5 class="text-uppercase">واحدهاي وابسته</h5>
                     <hr>

                     <ul class="list-unstyled text-left">
                         <li>
                             <a href="http://www.mporg.ir/" class="text-right">سازمان برنامه و بودجه کل کشور</a>
                         </li>
                         <li>
                             <a href="https://lorestan.mporg.ir/Portal/View/Page.aspx?PageId=5185b148-8152-4797-8ebb-171052fc3f35&WebpartId=33333333-3333-3333-3333-333333333333&ObjectType=DataItem&ObjectId=ab85e9f3-35fb-4303-99ae-2c86cf9d568f">سازمان و مدیریت برنامه ریزی استان ها</a>
                         </li>
                         <li>
                             <a href="https://www.amar.org.ir/">مرکز آمار ایران</a>
                         </li>
                         <li>
                             <a href="https://www.smtc.ac.ir/">مرکز آموزش و پژوهش های توسعه و آینده نگری</a>
                         </li>
                     </ul>

                 </div>
                 <!-- Grid column -->

                 <!-- Grid column -->
                 <div class="col-md-3 mb-md-0 mb-3">

                     <!-- Links -->
                     <h5 class="text-uppercase">وب گاه های مهم</h5>
 <hr>
                     <ul class="list-unstyled">
                         <li>
                             <a href="http://www.leader.ir/">دفتر مقام معظم رهبری</a>
                         </li>
                         <li>
                             <a href="http://www.president.ir/">ریاست جمهوری اسلامی ایران</a>
                         </li>
                         <li>
                             <a href="http://www.saamad.ir/Portal/Home/">مرکز ارتباطات مردمی ریاست جمهوری</a>
                         </li>
                         <li>
                             <a href="http://ostan-lr.ir/">استانداری لرستان</a>
                         </li>
                     </ul>

                 </div>
                 <!-- Grid column -->

             </div>
             <!-- Grid row -->

         </div>
         <!-- Footer Links -->

         <!-- Copyright -->
         <div class="footer-copyright text-center primary-colo white-text">
         کلیه حقوق این وب گاه متعلق به سازمان مدیریت و برنامه ریزی استان لرستان می باشد
         </div>
         <!-- Copyright -->

     </footer>
     <!-- Footer -->
     </div>
   <!--<app-tabs></app-tabs>-->



