<!--<app-menubar></app-menubar>-->

<div class="row " style="margin-top: -20px; background-image: url('./assets/img/background2.jpeg')">

  <div class="col-md-4 mb-5 mt-3">
    <div class="d-flex mt-5  flex-wrap align-content-around  ">
      <a [routerLink]="['g2c']" class="p-2 flex-fill  pt-1 col-xs-6 " style="width: 100px; height: 200px">

        <div class=" align-self-center" style="margin-bottom: -15px;">
          <div class="">
            <div class="card testimonial-card">
              <!-- Background color -->
              <!--<div class="card-up morpheus-den-gradient lighten-1"></div>-->

              <!-- Avatar -->
              <div class="avatar mx-auto  white border border-primary">
                <img src="./assets/img/pic-dolati/g2c%20(3).png" class="rounded-circle" >
              </div>

              <div class="card-body card-body-cascade text-center">
                <a class="card-text card-title nav-link blinking" [routerLink]="['g2c']">
                  خدمات قابل ارائه به شهروندان/کسب و کار
                </a>
                <p class="g2-englishtitle  card-title  blinking">G2B / G2C</p>
              </div>

            </div>
          </div>
        </div>

      </a>
    </div>
  </div>
  <div class="col-md-4 mb-5 mt-3 ">
    <div style="margin-top: 100px">
      <h1> میز خدمت الکترونیک</h1>
    </div>
  </div>
  <div class="col-md-4 mb-5 mt-3">
    <div class="d-flex mt-5 mb-5 flex-wrap align-content-around ">
      <a [routerLink]="['g2g']" class="p-2 flex-fill  pt-1 col-xs-6 " style="width: 100px; height: 200px">
        <div class="d-flex align-self-center" style="margin-bottom: -15px;">

          <div class="float-left">
            <div class="card testimonial-card">
              <!-- Background color -->
              <!--<div class="card-up aqua-gradient lighten-1"></div>-->

              <!-- Avatar -->
              <div class="avatar mx-auto white border border-primary ">
                <img src="./assets/img/pic-dolati/g2g%20(2).png" class="rounded-circle" >
              </div>

              <div class="card-body card-body-cascade text-center">
                <a class="card-text card-title nav-link blinking" [routerLink]="['g2g']">
                  خدمات قابل ارائه به دستگاههای اجرایی
                </a>
                <p class="g2-englishtitle  card-title  blinking">G2G</p>
              </div>

            </div>
          </div>

        </div>
      </a>
    </div>
  </div>
</div>

<!--<app-header></app-header>-->
