
<div class="col-md-12">
  <br>
  <p class="text-center alert alert-success alert-dismissible border border-info">جهت دریافت مشاوره خدمات میزخدمت الکترونیک درخواست خود را به میزخدمت ارسال نمایید و کدرهگیری دریافت نمایید.</p>
  <hr>
  <br>

  <div class="row">


    <div class="col-md-3 col-sm-6 my-3">

      <div class="card h-100 testimonial-card border border-success " [routerLink]="['/darkhast']">
        <!-- Background color -->
        <div class="card-up morpheus-den-gradient lighten-1"></div>

        <!-- Avatar -->
        <div class="avatar mx-auto white img-hover">
          <img src="./assets/img/request.png" class="rounded-circle" [routerLink]="['/darkhast']">
        </div>
        <div class="card-body card-body-cascade text-center">

          <a class="card-text card-title nav-link" [routerLink]="['/darkhast']">ارسال درخواست</a>
        </div>
      </div>

    </div>


    <div class="col-md-3 col-sm-6 my-3">

      <div class="card h-100 testimonial-card border border-primary "  [routerLink]="['/taghirdarkhast']">
        <!-- Background color -->
        <div class="card-up young-passion-gradient lighten-1"></div>

        <!-- Avatar -->
        <div class="avatar mx-auto white img-hover">
          <img src="./assets/img/survey.png" class="rounded-circle" [routerLink]="['/taghirdarkhast']">
        </div>
        <div class="card-body text-center">
          <p class="card-text" [routerLink]="['/taghirdarkhast']">تغییر درخواست</p>
        </div>
      </div>

    </div>


    <div class="col-md-3 col-sm-6 my-3">

      <div class="card h-100 testimonial-card border border-danger  " [routerLink]="['/moshahede']">
        <!-- Background color -->
        <div class="card-up aqua-gradient lighten-1"></div>

        <!-- Avatar -->
        <div class="avatar mx-auto white img-hover">
          <img src="./assets/img/viewresult.png" class="rounded-circle"[routerLink]="['/moshahede']">
        </div>
        <div class="card-body text-center">
          <p class="card-text" [routerLink]="['/moshahede']">مشاهده نتیجه</p>
        </div>
      </div>

    </div>

    <div class="col-md-3 col-sm-6 my-3">

      <div class="card h-100 testimonial-card border border-info" [routerLink]="['/nazarsanji']">
        <!-- Background color -->
        <div class="card-up purple-gradient lighten-1"></div>

        <!-- Avatar -->
        <div class="avatar mx-auto white img-hover">
          <img src="./assets/img/voting.png" class="rounded-circle" [routerLink]="['/nazarsanji']">
        </div>
        <div class="card-body text-center">
          <p class="card-text" [routerLink]="['/nazarsanji']">نظرسنجی</p>
        </div>
      </div>

    </div>

  </div>



</div>



